*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
#firstpage{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 15%;
}
nav img{
    width: 90px;
    height: 90px;
    margin-top: 20px;
}
nav h1{
    margin: 10px 0;
    color: #37352f;
    font-size: 50px;
}
.pages{
    background: black;
    border-radius: 20px;
}
.heading h1{
    margin: 10px;
    padding: 5px 25px 10px 25px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 40px;
}
.pages div{
    display: flex;
    justify-content: space-around;
}
.btn{
    background-color: #ffde59;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px 0 30px 0;
    font-size: 25px;
    font-weight: 700;
}
#GLT{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 45px;
    font-weight: 800;
}
#SUP{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 60px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
/* ----------------------------------------Second Page----------------------------------- */

.header{
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}
.heading{
    display: flex;
}
.heading h1{
    margin: 10px 10px;
    color: #37352f;
    font-size: 30px;
}
.btn2{
    background-color: #ffde59;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 5px 30px 5px;
    font-size: 20px;
    font-weight: 700;
}
#select{
    margin: 0 100px 5px 5px;
}
.info{
    border-radius: 20px;
    background-color: #d9d9d9;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    padding: 20px;
}
.info div{
    display: flex;
    justify-content: space-between;
}
.info span{
    font-weight: 700;
}
.cat{
    font-size: 15px;
}

/* ----------------------------------------NEWS PAGE------------------------------------------- */
.heart{
    padding: 0 90% ;
}
.heart button{
    background-color: #d9d9d9;
    border: 0;
}
.fa-heart{
   font-size: 40px;
   color: rgba(128, 128, 128, 0.5);
   cursor: pointer;
}
.heart-color{
    color: red;
}